h3 {
	padding-bottom: 4px;
}

.skill-list {
	display: flex;
	flex-flow: column nowrap;
	gap: 16px;
}

.skill-item {
	width: 100%;
	height: fit-content;

	display: flex;
}

.skill-icon {
	width: 48px;
	height: auto;

	padding-right: 12px;
	padding-top: 8.5px;

	filter: brightness(0) invert(1);

	transition: var(--transition);
}

.skill-info {
	width: 100%;
	height: fit-content;
}

.skill-footer {
	width: 100%;
	height: 100%;

	display: flex;
}

.skill-footer>progress {
	flex: 1;

	display: flex;
	white-space: nowrap;

	transition: width 0.28s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.skill-footer>a {
	flex: 0 0 0px;

	display: inline-flex;
	justify-content: end;
	overflow: hidden;
	white-space: nowrap;

	transition:
		flex 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55),
		padding 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.skill-item:hover .skill-icon,
.skill-item:focus-within .skill-icon {
	filter: none;
}

.skill-item:hover .skill-footer>a,
.skill-item:focus-within .skill-footer>a {
	flex: 0 0 100px;
	transition:
		flex 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		padding 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
