.font-small {
	font-size: 1.0rem;
	font-family: "Syne Mono";
	color: white;

	letter-spacing: -0.02rem;

	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 200;
}

.font {
	font-size: 1.4rem;
	font-family: "Syne Mono";
	color: white;
}

.font-big {
	width: fit-content;
	height: fit-content;

	font-size: 1.6rem;
	font-family: "Syne Mono";
	color: white;

	letter-spacing: -0.02rem;

	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 800;

}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	text-align: center;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0);
	border: none;

	transform: scale(0.90, 0.98);
	transition: 100ms ease;
}

.button-inline {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	padding-inline: 4px;

	transform: scale(0.90, 0.98);
	transition: 100ms ease;
}

.button:hover,
.button-inline:hover {
	background-color: white;
	color: black;

	transform: scale(1, 1);
}

.button:active {
	transform: scale(0.90, 0.98);
}
.button-inline:active {
	transform: scale(0.90, 0.94);
}

#my-name-logo {
	width: fit-content;
	height: fit-content;
	padding-left: 2px;

	color: white;

	letter-spacing: 0.2em;

	font-family: "Major Mono Display";
	font-weight: 800;
	font-style: normal;

	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.69);
}

progress {
	width: 100%;
	height: 20px;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: rgba(128, 128, 128, 0.2);
	color: white;
	overflow: hidden;
}

progress::-webkit-progress-bar {
	background-color: rgba(128, 128, 128, 0.2);
	border-radius: 0;
}

progress::-webkit-progress-value {
	border-radius: 0;
	transition: background-color 0.3s ease;
}

progress::-moz-progress-bar {
	background: white;
}

progress::-webkit-progress-value {
	background: white;
}
