/* TODO: position icons more to the center */
#skill-icon-c {
	transform: scale(1.48) translateX(2px);
}

#skill-icon-lua {
	transform: scale(1.12);
}

#skill-icon-js {
	transform: scale(1.02);
}

#skill-icon-css {
	transform: scale(1.1);
}

#skill-icon-java {
	transform: scale(1.8) translateX(2px) translateY(-2px);
}

#skill-icon-python {
	transform: scale(1.2);
}

#skill-icon-rust {
	transform: translateY(1px);
}

#skill-icon-asm {
	transform: scale(1.1) scaleX(1.11) translateX(0.4px) translateY(-1px);
}

#skill-icon-node {
	transform: scale(1.14);
}

#skill-icon-npm {
	transform: scale(0.98);
}

#skill-icon-cargo {
	transform: scale(1.9) translateX(3px) translateY(-2px);
}
