@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	min-height: 100vh;
	background-color: var(--background-color-focus);
}

body {
	padding-top: 34px;

	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	background-color: var(--background-color-focus);

	flex-flow: column nowrap;
}

section {
	width: clamp(50vw, 88vw + 2rem, 600px);
	height: fit-content;
	padding: 18px;
	border: var(--border);
	margin-bottom: 18px;

	background-color: var(--background-color);

	transition: 140ms ease;
}

section:hover {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);

	box-shadow:
		0 0 20px rgba(255, 255, 255, 0.4),
		inset 0 0 20px rgba(255, 255, 255, 0.25),
		0 4px 15px rgba(255, 255, 255, 0.1);
}

section:not(:hover) {
	transition: box-shadow 1s ease;
}

hr {
	border: none;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 16px 0;

	transition: 140ms ease;
}

section:hover hr {
	background-color: rgba(255, 255, 255, 0.7);

}

section:not(:hover) hr {
	transition: 1s ease;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 30px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);

	z-index: 10;
}

nav>span {
	height: 100%;
	margin-left: 4px;
}

nav>ul {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;

	list-style: none;
}

nav>ul>li {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	text-align: center;
}

.current::after {
	content: " <|";
	font-weight: 800;
}

.current::before {
	content: "|> ";
	font-weight: 800;
}

@media screen and (max-width: 480px) {
	nav {
		height: 45px;
	}

	nav>span#my-name-logo {
		display: none;
	}

	.button {
		font-size: 0.8rem;
	}

	.current::after,
	.current::before {
		font-size: 0.7rem;
	}

	body {
		padding-top: 49px;
	}
}
